<div class="product-card mini">
	<div class="product-head">
		<div class="bubl">-15%</div>
		<div class="product-label">
			Новинка
		</div>
		<div class="product-thumb">
			<img src="https://via.placeholder.com/400" alt="" class="product-pic">
		</div>
	</div>
	<div class="product-body">
		<h3 class="product-title">Product Title</h3>
		<div class="product-price">
			<span class="current">
				<span class="val">120</span>
				<span class="currency">грн</span>
			</span>
			<span class="old">
				<span class="val">132</span>
				<span class="currency">грн</span>
			</span>

			<span class="sep">/</span>

			<span class="weight">
				<span class="val">250</span>
				<span class="unit">г</span>
			</span>
		</div>
		<div class="btns">
			<button class="button sm buy">
				<span class="buy-control" data-value="1">
					<span class="control-minus">
						<ion-icon name="chevron-back-outline"></ion-icon>
					</span>
					<span class="buy-value">1</span>
					<span class="control-plus">
						<ion-icon name="chevron-forward-outline"></ion-icon>
					</span>
				</span>
			</button>
			<button class="button-cancel">
				<ion-icon name="close-circle-outline"></ion-icon>
			</button>
		</div>
	</div>
</div>