<div class="weight-selector">
	@@for(let i=0; i<weights.length; i++){
		<div class="weight `+(weights[i].selected === true ? 'selected' : '')+`" data-value="`+weights[i].val+`">
			<span class="value"></span> 
		</div> 
	}
	<span class="unit">грам</span>
</div>
  
<script>
	$(document).ready(function(){
		const witems = $('.weight-selector .weight');
		for(let item of witems){
			item = $(item);
			const val = item.attr('data-value');
			const size = 50 + (50 * val);
			item.find('.value').html(val * 1000);
			item.css({
				width: `${size}px`,
			});

			if(item.hasClass('selected')){
				$('.weight-selector').addClass('already-selected');
			}
		}

		$(witems).on('click', function(){
			$(witems).removeClass('selected');
			$(this).addClass('selected');
			$('.weight-selector').addClass('already-selected');
		});
	});
</script>