@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "partials/vars.less";
@import "partials/base-elements.less";
@import "partials/product-cards.less";
@import "partials/header.less";
@import "partials/carousel.less";
@import "partials/cats.less";
@import "partials/swipeable-product-line.less";
@import "partials/best-products.less";
@import "partials/insta.less";
@import "partials/footer.less";
@import "partials/products-line.less";
@import "partials/weight-selector.less";
@import "partials/products-page.less";
@import "partials/single-product-page.less";
@import "partials/contacts-page.less";
@import "partials/reviews-page.less";
@import "partials/order-form-page.less";
@import "partials/single-page.less";

*{
	font-family: @mainfont;
}

body{
	background-color: white;
	color: @tcol;
	padding-top: 80px;
}
