.block{
	margin: 20px;
}

// Headings

h1, h2, h3, h4, h5, h6{
	color: @tcol;
}

h1{
	font-size: 34px;
	font-weight: 400;
	margin: 26px 0;
}

h2{
	font-size: 28px;
	font-weight: 400;
	margin: 22px 0;
}

h3{
	font-size: 24px;
	font-weight: 400;
	margin: 16px 0;
}

a{
	text-decoration: none;
	color: @scol;
	transition-property: color;
	transition-duration: @tdu;
}

a:hover{
	text-decoration: underline;
}

p{
	line-height: 22px;
}

// Buttons

.button{
	background-color: @dcol;
	border-radius: 42px;
	border: 0;
	line-height: 42px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 0 18px;
	font-size: 18px;
	cursor: pointer;
	transition-duration: @tdu;
	transition-property: filter;

	ion-icon{
		position: relative;
		display: inline-block;
		top: 3px;
		padding-left: 5px;
	}

	.buy-control{
		.control-minus,
		.control-plus{
			opacity: .5;
			transition-duration: @tdu;
			transition-property: opacity;
			cursor: pointer;
			position: relative;
			top: 3px;
			display: inline-block;
			font-size: 20px;

			&:hover{
				opacity: 1;
			}
		}

		.control-minus{
			padding-right: 3px;
		}

		.control-plus{
			padding-left: 0px;
		}

		.buy-value{
			display: inline-block;
			min-width: 22px;
			font-weight: 600;
			text-align: center;
		}
	}

	&.sm{
		line-height: 33px;
		border-radius: 32px;
		font-size: 18px;
		height: 50px;
		padding: 0 8px;
	}

	&.lg{
		border-radius: 60px;
    font-size: 22px;
    height: 60px;
    padding: 0 25px;

    .buy-control{
	    .control-minus,
			.control-plus{
				top: 0;
			}
		}
	}
}

.button-cancel{
	border: 0;
	background: transparent;
	width: 27px;
	height: 27px;
	border-radius: 100%;
	font-size: 27px;
	cursor: pointer;
	color: @greycol;
	transition-duration: @tdu;
	transition-property: filter, color;
}

.button:focus,
.button-cancel:focus{
	outline: none;
}

.button:hover,
.button-cancel:hover{
	filter: saturate(1.3);
}

.button-cancel:hover{
	color: #000;
}

.page-wrap{
	margin-top: 60px;
}

.page-title{
	margin-bottom: 20px;
	font-size: 24px;
}

.input-group{
	margin: 14px 0;

	label{
		font-size: 15px;

		.label-text{
			display: block;
			margin-bottom: 8px;
		}
	}
}

.input{
	width: 100%;
	max-width: 450px;
	height: 40px;
	border-radius: 10px; 
	border: 2px solid @pcol;
	box-sizing: border-box;
	padding: 10px; 
	color: @tcol;
	background-color: #fff;
	transition-property: border-color;
	transition-duration: @tdu;

	textarea&{
		overflow: auto;
		resize: none;
		height: 150px;
	}

	&[type="checkbox"]{
		width: 15px;
		height: 15px;
		float: left;
		margin-right: 8px;
	}

	&::placeholder{
		color: #555;
	}

	&:focus{
		outline: none;
		border-color: @scol;
	}

	&:hover{
		border-color: @scol;
	}
}

@media (max-width: 768px){
	h1{
		font-size: 28px;
		font-weight: 400;
		margin: 18px 0;
	}

	h2{
		font-size: 22px;
		font-weight: 400;
		margin: 12px 0;
	}

	h3{
		font-size: 18px;
		font-weight: 400;
		margin: 10px 0;
	}

	.page-wrap{
		margin-top: 30px; 
	}
}
