.best-products{
	margin-top: 70px;

	.block-title{
		position: relative;
		margin-bottom: 60px;

		&:before{
			content: '';
			display: block;
			width: 120px;
			height: 120px;
			background: url('../img/star-outline@1X.png') no-repeat;
			background-size: contain;
			background-position: center;
			position: absolute;
			top: -50px;
			left: -70px; 
		}
	}

	.product-card{
		margin-bottom: 40px;
	}
}