.header{
	@header-height: 80px;

	width: 100%;
	height: @header-height;
	background-color: @pcol;
	color: @itcol;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	transition-property: height;
	transition-duration: @tdu;

	&:after{
		content: '';
		display: block;
		position: absolute;
		top: @header-height;
		left: 0;
		height: 28px;
		width: 100%;
		z-index: 1;
		background: url('../img/light-brown-wave-invers@1X.png') repeat-x;
	}

	.navigation{
		list-style-type: none;
		margin-top: 30px;
		padding: 0;
		width: max-content;

		.navlist{
			margin: 0;
			padding: 0;

			.navitem{
				position: relative;
				display: inline-block;
				font-size: 18px;
				margin-right: 20px;

				.navlink{
					color: #fff;

					&:hover{
						text-decoration: none;
						color: @scol;
					}
				}

				&:hover{
					.navlist{
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}


		&.right-nav{
			float: right;

			.navitem:last-of-type{
				margin-right: 0;
			} 
		}
	}

	.top-logo-wrap{
		.top-logo-container{
			max-width: 100%;
			border-radius: 100%;
			height: 300px;
			width: 340px;
			background-color: #fff;
			position: absolute;
			z-index: 2;
			top: -150px;
			box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .1); 
			text-align: center;

			a{
				.top-logo{
					position: relative;
					top: 150px;
					max-width: 70%;
				}
			}
		}

		&.mob{
			display: none;
		}
	}

	.basket-button{
		display: inline-block;
		width: 60px;
		height: 60px;
		position: relative;
		top: 15px;
		transition-duration: @tdu;
		transition-property: filter;

		&:hover{
			text-decoration: none;
			color: @itcol;
		}

		.icon-container{
			display: block;
			background-color: @dcol;
			width: 50px;
			height: 50px;
			border-radius: 100%;
			color: @itcol;
			font-size: 30px;
			text-align: center;
			line-height: 50px;

			.basket-icon{
				position: relative;
				z-index: 1;
				top: 5px;
			}
		}

		.counter{
			color: @itcol;
			background-color: @dcol;
			border-radius: 100%;
			width: 30px;
			height: 30px;
			display: inline-block;
			text-align: center;
			line-height: 32px;
			font-size: 20px;
			position: absolute;
			top: 25px;
			right: -3px;
		}

		&:hover{
			filter: brightness(1.1);
		}
	}

	.menu{
		width: 50px;
		height: 50px;
		font-size: 45px;
		text-align: center;
		background-color: transparent;
		border: 0;
		position: fixed;
		top: 15px;
		z-index: 1;
		right: ~"calc(20% - 60px)";
		color: @itcol;

		&[data-state="close"]{
			.state-close{
				display: none;
			}
		}

		&[data-state="open"]{
			.state-open{
				display: none;
			}
		}

		&:focus{
			outline: none;
		}
	}
}

@media (min-width: 1200px){
	.header{
		.navigation{
			.navlist{
				.navitem{
					.navlist{
						padding: 14px;
						position: absolute;
						z-index: 2;
						background-color: #fff;
						border-radius: 10px;
						box-shadow: 2px 2px 3px 2px rgba(0,0,0,.1); 
						top: 35px;
						left: -15px;
						width: max-content;
						opacity: 0;
						visibility: hidden;
						transition-duration: @tdu;
						transition-delay: @tdu;
						transition-property: opacity, visibility;
			
						.navitem{
							display: block;
							margin-bottom: 20px;

							.navlink{
								color: #000;
								&:hover{
									color: @pcol;
								}
							}

							&:last-of-type{
								margin-bottom: 0;
							}
						}

						& + .navlink{
							position: relative;

							&:after{
								content: '';
								display: block;
								width: 25px;
								height: 25px;
								background: url(../img/chevron-down.png) center no-repeat;
								background-size: contain;
								position: absolute;
								right: -30px;
								top: -2px;
							}
						}
					}
				}
			}
		}

		.menu{
			display: none;
		}
	}
}

@media (max-width: 1200px){
	@header-height: 70px;

	.header{
		position: fixed;
		top: 0;
		z-index: 50;
		height: @header-height;

		.container{
			height: inherit;
			overflow: hidden;
		}

		.top-logo-wrap{
			display: none;

			.top-logo-container{
				width: 130px;
				height: 130px;
				top: -60px;

				a{
					.top-logo{
						top: 64px;
						max-width: 60%;
					}
				}
			}

			&.mob{
				display: block;
			}

		}
		
		&:after{
			top: @header-height;
			background-size: cover;
			height: 20px;
		}

		.navigation{
			@margin-top: 20px;

			margin-left: 30px;
			margin-top: @margin-top;

			.navlist{
				.navitem{
					display: block;
					margin-top: @margin-top;
					font-size: 20px;

					.navlink{}

					.navlist{
						& + .navlink{
							display: block;
							margin-top: @margin-top;

							&:after{
								width: 30px;
								height: 30px;
								right: -40px;
								top: 0;
							}
						}
					}
				}
			}

			&.left-nav{
				margin-top: 130px;
			}

			&.right-nav{
				float: none;
			}
		}

		&.mob{
			height: 90vh;

		}

		.basket-button{
			position: fixed;
			top: 12px;
			right: 20%;
		}
	}
}

@media (max-width: 380px){
	.header{
		.top-logo-container{
			height: 120px;

			.top-logo{
				
			}
		}
	}
}