.single-product-page{
	margin: 100px 0;

	.product-img-container{
		.product-img{
			width: 100%;
			height: auto;
		}

		.bubl{
			position: absolute;
			z-index: 2;
			background-color: @dcol;
			text-align: center;
			border-radius: 100%;
			font-size: 22px;
			color: @itcol;
			.bubl-sizing(70px);
		}
	}

	.about-product{
		.title{
			font-size: 30px;
			margin: 22px 0;
		}

		.description{
			*{
				font-family: Arial;
			}
		}

		.weight-container{
			margin: 40px 0;
		}
	}

	.price-and-buy-container{
		.price{
			line-height: 60px;

			.value{
				font-weight: bold;
				font-size: 36px;
			}

			.old-value{
				font-size: 24px;
				text-decoration: line-through;
				display: inline-block;
				margin: 0 8px;
			}

			.unit{
				font-size: 34px;
			}
		}

		.buy{}
	}
}

@media (max-width: 1200px){
	.single-product-page{
		margin: 60px 0;
	}
}